<div class="table-responsive">
  <h3 style="text-align: center;">January</h3>
  <div class="heading-underline"></div>
  <table class="table table-bordered">
  <tr>
    <th>Week</th>
    <th>Mon</th>
    <th>Tues</th>
    <th>Wed</th>
    <th>Thurs</th>
    <th>Fri</th>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">25</p></td>
    <td><p class="date">26</p></td>
    <td><p class="date">27</p></td>
    <td><p class="date">28</p></td>
    <td><p class="date">29</p></td>
  </tr>
  <tr>
    <td><b>Week 1: Chapter 1</b>(Controlled Experiments)</td>
    <td><p>First Day of Classes!</p></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>
  
  <h3 style="text-align: center;">February</h3>
  <div class="heading-underline"></div>
  <table class="table table-bordered">
  <tr>
    <th>Week</th>
    <th>Mon</th>
    <th>Tues</th>
    <th>Wed</th>
    <th>Thurs</th>
    <th>Fri</th>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">01</p></td>
    <td><p class="date">02</p></td>
    <td><p class="date">03</p></td>
    <td><p class="date">04</p></td>
    <td><p class="date">05</p></td>
  </tr>
  <tr>
    <td><b>Week 2: Chapters 2-3</b>(Observational Studies)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">08</p></td>
    <td><p class="date">09</p></td>
    <td><p class="date">10</p></td>
    <td><p class="date">11</p></td>
    <td><p class="date">12</p></td>
  </tr>
  <tr>
    <td><b>Week 3: Chapters 3-5</b>(Histograms, Avg, Median, SD, & Normal Curve)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">15</p></td>
    <td><p class="date">16</p></td>
    <td><p class="date">17</p></td>
    <td><p class="date">18</p></td>
    <td><p class="date">19</p></td>
  </tr>
  <tr>
    <td><b>Week 4: Exam Week</b></td>
    <td><b><p class="conf">Exam 1 Conflict Sign-Up Due</p></b><p>President's Day &#127482;&#127480;</p></td>
    <td><b><p class="twitch">Exam 1 Twitch Review at 6pm</p></b></td>
    <td><p>No Classes!</p></td>
    <td><b><p class="exam">Exam 1 at 6pm</p></b></td>
    <td></td>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">22</p></td>
    <td><p class="date">23</p></td>
    <td><p class="date">24</p></td>
    <td><p class="date">25</p></td>
    <td><p class="date">26</p></td>
  </tr>
  <tr>
    <td><b>Week 5: Chapters 6-7</b>(Boxplots & Correlation)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>
  
  <h3 style="text-align: center;">March</h3>
  <div class="heading-underline"></div>
  <table class="table table-bordered">
  <tr>
    <th>Week</th>
    <th>Mon</th>
    <th>Tues</th>
    <th>Wed</th>
    <th>Thurs</th>
    <th>Fri</th>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">01</p></td>
    <td><p class="date">02</p></td>
    <td><p class="date">03</p></td>
    <td><p class="date">04</p></td>
    <td><p class="date">05</p></td>
  </tr>
  <tr>
    <td><b>Week 6: Chapters 8-10</b>(Regression & RMSE)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">08</p></td>
    <td><p class="date">09</p></td>
    <td><p class="date">10</p></td>
    <td><p class="date">11</p></td>
    <td><p class="date">12</p></td>
  </tr>
  <tr>
    <td><b>Week 7: Chapters 11-12</b>(Probability)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">15</p></td>
    <td><p class="date">16</p></td>
    <td><p class="date">17</p></td>
    <td><p class="date">18</p></td>
    <td><p class="date">19</p></td>
  </tr>
  <tr>
    <td><b>Week 8: Exam Week</b></td>
    <td><b><p class="conf">Exam 2 Conflict Sign-Up Due</p></b></td>
    <td><b><p class="twitch">Exam 2 Twitch Review at 6pm</p></b></td>
    <td></td>
    <td><b><p class="exam">Exam 2 at 6pm</p></b></td>
    <td></td>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">22</p></td>
    <td><p class="date">23</p></td>
    <td><p class="date">24</p></td>
    <td><p class="date">25</p></td>
    <td><p class="date">26</p></td>
  </tr>
  <tr>
    <td><b>Week 9: Chapters 13-15</b>(EV, SE, & Random Variables)</td>
    <td></td>
    <td></td>
    <td><p>No Classes!</p></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">29</p></td>
    <td><p class="date">30</p></td>
    <td><p class="date">31</p></td>
    <td><p class="date">01</p></td>
    <td><p class="date">02</p></td>
  </tr>
  <tr>
    <td><b>Week 10: Chapters 15-16</b>(Box Models & Probability Histograms)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>
  
  <h3 style="text-align: center;">April</h3>
  <div class="heading-underline"></div>
  <table class="table table-bordered">
  <tr>
    <th>Week</th>
    <th>Mon</th>
    <th>Tues</th>
    <th>Wed</th>
    <th>Thurs</th>
    <th>Fri</th>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">05</p></td>
    <td><p class="date">06</p></td>
    <td><p class="date">07</p></td>
    <td><p class="date">08</p></td>
    <td><p class="date">09</p></td>
  </tr>
  <tr>
    <td><b>Week 11: Chapters 17-19</b>(Sampling & Inference)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">12</p></td>
    <td><p class="date">13</p></td>
    <td><p class="date">14</p></td>
    <td><p class="date">15</p></td>
    <td><p class="date">16</p></td>
  </tr>
  <tr>
    <td><b>Week 12: Exam Week</b></td>
    <td><b><p class="conf">Exam 3 Conflict Sign-Up Due</p></b></td>
    <td><b><p class="twitch">Exam 3 Twitch Review at 6pm</p></b><p>No Classes!</p></td>
    <td></td>
    <td><b><p class="exam">Exam 3 at 6pm</p></b></td>
    <td></td>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">19</p></td>
    <td><p class="date">20</p></td>
    <td><p class="date">21</p></td>
    <td><p class="date">22</p></td>
    <td><p class="date">23</p></td>
  </tr>
  <tr>
    <td><b>Week 13: Chapters 20-22</b>(Hypothesis Testing: Z & t Tests)</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">26</p></td>
    <td><p class="date">27</p></td>
    <td><p class="date">28</p></td>
    <td><p class="date">29</p></td>
    <td><p class="date">30</p></td>
  </tr>
  <tr>
    <td>None</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </table>
  
  <h3 style="text-align: center;">May</h3>
  <div class="heading-underline"></div>
  <table class="table table-bordered">
  <tr>
    <th>Week</th>
    <th>Mon</th>
    <th>Tues</th>
    <th>Wed</th>
    <th>Thurs</th>
    <th>Fri</th>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">03</p></td>
    <td><p class="date">04</p></td>
    <td><p class="date">05</p></td>
    <td><p class="date">06</p></td>
    <td><p class="date">07</p></td>
  </tr>
  <tr>
    <td><b>Week 14: Chapters 22-24</b>(Hypothesis Testing: Chi Square Tests)</td>
    <td></td>
    <td></td>
    <td><p>Last Day of Classes!</p></td>
    <td><p><b>Reading Day</b></p></td>
    <td><b><p class="twitch">Final Exam Twitch Review at 5-7pm</p></b></td>
  </tr>
  <tr>
    <td style="line-height:1px;margin:0;"></td>
    <td><p class="date">10</p></td>
    <td><p class="date">11</p></td>
    <td><p class="date">12</p></td>
    <td><p class="date">13</p></td>
    <td><p class="date">14</p></td>
  </tr>
  <tr>
    <td><b>Week 15: Last Week of Class</b>(Final Exam Review)</td>
    <td><b><p class="exam">Final Exam from 1:30-4:30pm</p></b></td>
    <td></td>
    <td></td>
    <td></td>
    <td><p><b>SUMMER BREAK!!! <a href="{{ site.data.info.rickroll }}">🌴</a> </b>Have a wonderful break!</p></td>
  </tr>
  </table>
  
  </div>