<div class="table-responsive">
  <table class="table table-bordered">
  <tr>
    <th>Exam</th>
    <th>Date & Time</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>Final Exam</td>
    <td>Monday Dec. 14th from 1:30-4:30pm CST</td>
    <td>Compass</td>
  </tr>
  <tr>
    <td>Conflict Final Exam</td>
    <td>Wednesday Dec. 16th from 1:30-4:30pm CST</td>
    <td>Compass, but make sure to sign up on Lon Capa by 12/10 at 11:59pm</td>
  </tr>
  <tr>
    <td>International Conflict Final Exam</td>
    <td>Monday Dec. 14th from 11:00pm-2:00am CST</td>
    <td>Compass, but make sure to sign up on Lon Capa by 12/10 at 11:59pm</td>
  </tr>
  </table>
</div>
